@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	font-style: normal;
	src: url(/fonts/Inter-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	font-style: normal;
	src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	font-style: normal;
	src: url(/fonts/Inter-Bold.ttf) format('truetype');
}

:root {
	font-family: Inter;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	scroll-behavior: smooth;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1 {
	@apply text-4xl font-semibold;
}

h2 {
	@apply text-3xl font-semibold;
}

h3 {
	@apply text-2xl font-medium;
}

h4 {
	@apply text-xl font-medium;
}

h5 {
	@apply text-lg; /* placeholder */
}

h6 {
	@apply text-sm font-bold opacity-75;
}

.container {
	@apply max-w-[1000px] m-auto px-4;
}

.container-big {
	@apply max-w-[1400px] m-auto;
}

.fat-link {
	@apply font-semibold hover:underline hover:cursor-pointer underline-offset-1 decoration-2;
}

.font-serif {
	font-family: 'EB Garamond', serif;
}
